# Project subjects and other stuff
Piscine C/
*.pdf
*.zip
*.tar
*.gif

# Executables & object files
*.o
*.a
*.out
*.exe
*.exe.stackdump
*.dSYM
*/main
*/fdf
*/fractol


# Macintosh files
*.DS_Store
*._*
