# Project subjects and other stuff
OpenCL/
*.pdf
*.zip
*.tar
*.gif

# Executables & object files
*.o
*.a
*.out
*.exe
*.exe.stackdump
*.dSYM
*/main
*/fdf
*/fractol
*/rtv1
*/rt

# Macintosh files
*.DS_Store
*._*
